.snakemake/
__pycache__/

#ignore everything by default
*

#except for

!Snakefile
!snakepit
snakepit/*
!snakepit/*.smk
!snakepit/*.yml
!snakepit/*.yaml
!scripts
scripts/*
!scripts/*.py
!scripts/*.css
